{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

<h1>Registration on our Website</h1>

{{ form_start(form) }}
{{ form_row(form.username, {'label':'Your username', 'attr': {'placeholder':'Choose your username'}}) }}
{{ form_row(form.email, {'label':'Your email', 'attr': {'placeholder':'you@email.com'}}) }}
{{ form_row(form.password, {'label':'Your password', 'attr': {'placeholder':'Choose a password'}}) }}
{{ form_row(form.confirm_password, {'label':'Password confirmation', 'attr': {'placeholder':'Confirm your password'}}) }}
<button class="btn btn-success" type="submit">Register</button>
{{ form_end(form) }}

{% endblock %}